
#graphCanvas {
  border: 1px solid black;
  background-color: #f2f2f2;

}

#mainContainer {
  width: 95vw;
}

#canvasContainer {
  margin-top: 20px;
  width: 100vw;
  height: 302px;
  margin: 0 auto;
  text-align: center;
}

.text-center {
  text-align: center;
}

.marginAuto {
  margin: 0 auto;
}

.displayNone {
  display: none;
}

.text-center {
  text-align: center;
}

.col-md-offset-2 {
    margin-left: 16.66666667%;
}
