#mainContainer {
  background-color: #f8f9fa;
  border: 1px solid #ccc;
  width: 100%;
}

#lstCurrency {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}

#btnRefresh {
  margin-top: 5px;
}

#canvasContainer {
  height: 302px;
  margin-top: 20px;
  text-align: center;
}

#graphCanvas {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 1200px;
}

.text-center {
  text-align: center;
}

.marginAuto {
  margin: 0 auto;
}

.displayNone {
  display: none;
}

.col-md-offset-2 {
  margin-left: 16.66666667%;
}

.marginBottom10 {
  margin-bottom: 10px;
}

.marginBottom20 {
  margin-bottom: 20px;
}

.marginTop5 {
  margin-top: 5px;
}

.marginTop10 {
  margin-top: 10px;
}

.marginTop20 {
  margin-top: 20px;
}

.gitHubIcon {
  color: #000;
}